body{
    padding: 20px;
}

.column_container{
    display: flex;
    flex-direction: column;
}

.row_container{
    display: flex;
    flex-direction: row;
}

.select_state_container{
    display: flex;
    flex-direction: column;
}

td{
    border: 1px solid black;
}

.td_start{
    border: 2px solid green;
}

.td_end{
    border: 2px solid red;
}

.td_edge{
    border-left: 2px solid green;
    border-right: 2px solid red;
    border-top: 2px solid green;
    border-bottom: 2px solid red;
}